mat-expansion-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
}

mat-sidenac {
    background-color: rgb(237, 237, 237);
}

a[mat-raised-button]{
    color: white;
}

a[mat-button]{
    color: rgb(124, 224, 101);
}
