<section>
  <h1>Autor projekta</h1>
  <p>Ime: Stasa Trajkovic</p>
  <p>Projekat je rađen kao vežba za predmet Razvoj višeslojnih aplikacija(RVA).</p>
  <p>Tehnologije korišćene u frontend delu:</p>
  <ul>
    <li>Angular</li>
    <li>Angular Material</li>
    <li>TypeScript</li>
  </ul>
  <p>U backend delu koristi se:</p>
  <ul>
    <li>Spring Boot</li>
    <li>Spring Data JPA</li>
    <li>Hibernate</li>
    <li>PostgreSQL</li>
  </ul>

  <p>
      Komunikacija između frontend i backend dela sistema ostvarena je
      korišćenjem REST servisa.
    </p>
</section>